#mainui-play {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    text-align: center;
}

#nick {
    position: relative;
    margin: 10px;
    border-radius: 4px;
    border-style: solid;
    border-color: #A2A2A2;
    padding-left: 10px;
}

.btn-play {
    width: 180px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    height: 34px;
    line-height: 1.5;
    color: white;
    background-color: cornflowerblue;
    border-radius: 10px;
    position: relative;
    border: 1px solid transparent;
}

#queue {
    position: relative;
    margin: 10px;
}
